@model Pretire.ViewModels.Spending.SpendingByYearViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach(var cost in Model.YearlyData)
{
    <div class="cost-header">
        <h3>@cost.Name</h3>
        <span>@cost.DisplayCost</span>
    </div>
    <div class="cost-details">
        @using (Html.BeginForm("UpdateCost"))
        {
            @Html.Partial("EditorTemplates/Cost", cost)
        }
    </div>
}

